:root {
    /* Light mode */
    --color-light-gray-1: rgb(142, 142, 147);
    --color-light-gray-2: rgb(174, 174, 178);
    --color-light-gray-3: rgb(199, 199, 204);
    --color-light-gray-4: rgb(209, 209, 214);
    --color-light-gray-5: rgb(229, 229, 234);
    --color-light-gray-6: rgb(242, 242, 247);
    --color-light-blue: rgb(0, 122, 255);
    --color-light-green: rgb(52, 199, 89);
    --color-light-indigo: rgb(88, 86, 214);
    --color-light-orange: rgb(255, 149, 0);
    --color-light-pink: rgb(255, 45, 85);
    --color-light-purple: rgb(175, 82, 222);
    --color-light-red: rgb(255, 59, 48);
    --color-light-teal: rgb(90, 200, 250);
    --color-light-yellow: rgb(255, 204, 0);
  
    /* Dark mode */
    --color-dark-gray-1: rgb(142, 142, 147);
    --color-dark-gray-2: rgb(99, 99, 102);
    --color-dark-gray-3: rgb(72, 72, 74);
    --color-dark-gray-4: rgb(58, 58, 60);
    --color-dark-gray-5: rgb(44, 44, 46);
    --color-dark-gray-6: rgb(28, 28, 30);
    --color-dark-blue: rgb(10, 132, 255);
    --color-dark-green: rgb(48, 209, 88);
    --color-dark-indigo: rgb(94, 92, 230);
    --color-dark-orange: rgb(255, 159, 10);
    --color-dark-pink: rgb(255, 55, 95);
    --color-dark-purple: rgb(191, 90, 242);
    --color-dark-red: rgb(255, 69, 58);
    --color-dark-teal: rgb(100, 210, 255);
    --color-dark-yellow: rgb(255, 214, 10);
  }
  
  /* @media (prefers-color-scheme: no-preference) {} */
  
  @media (prefers-color-scheme: light) {
    :root {
      --color-gray-1: var(--color-light-gray-1);
      --color-gray-2: var(--color-light-gray-2);
      --color-gray-3: var(--color-light-gray-3);
      --color-gray-4: var(--color-light-gray-4);
      --color-gray-5: var(--color-light-gray-5);
      --color-gray-6: var(--color-light-gray-6);
      --color-blue: var(--color-light-blue);
      --color-green: var(--color-light-green);
      --color-indigo: var(--color-light-indigo);
      --color-orange: var(--color-light-orange);
      --color-pink: var(--color-light-pink);
      --color-purple: var(--color-light-purple);
      --color-red: var(--color-light-red);
      --color-teal: var(--color-light-teal);
      --color-yellow: var(--color-light-yellow);
      --color-text: rgb(10,10,10);
      --color-backgroud: rgb(249,249,249);
      --color-header: rgba(249,249,249, 0.8);
      --color-header-swadow: rgba(249,249,249,0.4);
      --color-article-shadow: rgba(175,175,175,0.6);
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-gray-1: var(--color-dark-gray-1);
      --color-gray-2: var(--color-dark-gray-2);
      --color-gray-3: var(--color-dark-gray-3);
      --color-gray-4: var(--color-dark-gray-4);
      --color-gray-5: var(--color-dark-gray-5);
      --color-gray-6: var(--color-dark-gray-6);
      --color-blue: var(--color-dark-blue);
      --color-green: var(--color-dark-green);
      --color-indigo: var(--color-dark-indigo);
      --color-orange: var(--color-dark-orange);
      --color-pink: var(--color-dark-pink);
      --color-purple: var(--color-dark-purple);
      --color-red: var(--color-dark-red);
      --color-teal: var(--color-dark-teal);
      --color-yellow: var(--color-dark-yellow);
      --color-text: rgb(249,294,249);
      --color-backgroud: rgb(15,15,15);
      --color-header: rgba(15,15,15,0.8);
      --color-header-swadow: rgba(0,0,0,0);
      --color-article-shadow: rgba(50,50,50,0.5);
    }
  }

::selection{
    background-color: var(--color-text);
    color: var(--color-backgroud);
}

.contentimg{
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.article{
    padding: 25px;
    background-color: var(--color-backgroud);
    border-radius: 0 0 25px 25px;
}

.port{
    box-shadow: 0px 0px 200px var(--color-article-shadow);
    border-radius: 25px;
}

.article h3{
    margin-top: 30px;
    margin-bottom: 10px;
}

.imgblur{
    mask: linear-gradient(transparent,gray, black);
	backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(15, 15, 15, 0.35);
	height: 200px;
	width: 100%;
	overflow: visible;
	float: left;
    margin-top: -200px;
    display: flex;
}
.imgtext{
    margin-top: 100px;
    margin-left: 25px;
    color: white;
    font-size: 1.5rem;
}
a{
    display: inline;
}
.codebutton{
    margin-top: -50px;
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 25px;
    margin-right: 25px;
}
.codebutton button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    border-radius: 10px;
    padding: 10px 10px; /* Optional: add padding for horizontal space */
    border: 1px solid #ccc; /* Optional: add border */
    background-color: rgba(249,249,249,0.9);
    box-shadow: 0px 0px 150px var(--color-header-swadow);
    cursor: pointer; /* Optional: change cursor to pointer */
    text-decoration: none; /* Just in case */
    outline: none; /* Removes the focus outline */
}
.codebutton button:focus {
    outline: none; /* Ensures no outline on focus */
}
.codebutton button span{
    margin-right: 5px;
}

.content{
    margin-top: 50px;
}

a.button:link,a.button:visited,a.button:hover,a.button:active,a.button:focus {
    text-decoration: none; /* Ensure no underline in any state */
    color: inherit; /* Ensure link color doesn't change */
    outline: none; /* Remove focus outline */
}